# Объектные файлы
*.o
*.obj
*.elf
*.gcno
*.gcda

# Статические/динамические библиотеки
*.a
*.so
*.so.*
*.dylib
*.dll
*.lib
*.exp

# Исполняемые файлы (Windows / кроссплатформа)
*.exe
*.out
*.app
*.com
*.cmd

# Директории сборки
build/
bin/
obj/
out/
cmake-build-*/
*.dSYM/

# Временные файлы IDE / редакторов
.vscode/
.idea/
*.swp
*.swo
*~

# Исполняемые файлы без расширения (твой случай)
primes
hello
temperature
double_array
arithmetic-operations-d2
variable-d2
3d-BMI_calculator
3d-age_category
3d-conditions
4d-digit_sum
4d-factorial
4d-fizz_buzz
4d-loops
4d-more_less
4d-multiplication
5d-arrays
5d-char_count
5d-max_array
5d-palindrome
5d-reverse_string
5d-shopping_list
5d-strings
6d-calculator
6d-functions
6d-ref_more_less
7d-double_array
7d-find_min_max
7d-pointer
fill_spiral_from_center
fill_spiral_qwen
format_print